*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.bg-black{
    background: #000;
}
.bg-white{
    background: #ffffff;
}
.bg-blue{
    background: #262680;
}
.bg-green{
    background: #1c891c;
}
.bg-red{
    background: #a21010;
}

.border-rad{
    border-radius: 15px;
}

.obDiv{
    width: 1000px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5em;
    border:2px solid #000;
}

.box{
    width: auto;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
